#nav-menu > li > ul 
{
    display:none;
}

#nav-menu > li:hover ul 
{
    display:block;
}

li
{
    list-style: none;
}

.content ul
{
    margin: 0;
}

.content img
{
    margin : 0;
    border-radius:0;
}

.content h2
{
    border:none;
    margin:0;
}

.content p
{
    margin: 0;
}

.custom-grid-cols
{
    grid-template-columns: 10% 80% 10%;
}

.custom-tag-color-pink
{
    background-color: #FFE0E0;
}

.custom-tag-color-yellow
{
    background-color: #F1EBCA;
}

.custom-arrow-right
{
    fill:#ffb9b7;
}

.custom-round-small-button {
    background-color: #F1F1F1;
    color: #696969;
    cursor: pointer;
}

.custom-round-small-button-selected {
    background-color: #FFAAAA;
    color: white;
    cursor: pointer;
}

.custom-round-whitepink-button
{
    background: white;
    color:#FF7C7C;
    border: 1px solid #FF7C7C;
    border-radius: 9999px;
}

.custom-pink-button
{
    background-color: #FFA8A8;
    color:white;
    border-radius: 9999px;
    cursor: pointer;
}

.custom-gray-button
{
    background-color: #F2F2F2;
    color:#444444;
    border-radius: 9999px;
    cursor: pointer;
}

.custom-round-whitepink-button:hover
{
    cursor: pointer;
}


/*여기는 tailwind에서 적용 시도 다시 해보아야 하는 부분*/

.custom-mt--1px
{
    margin-top : -1px;
}

.custom-mb-1
{
    margin-bottom: 0.25rem;
}

.custom-w-70
{
    width:70px;
}

.custom-pt-64
{
    padding-top:16rem;
}

.custom-text-5xl
{
    font-size: 3rem;
}

.custom-text-2xl
{
    font-size: 1.5rem;
}

.custom-pl-8
{
    padding-left: 2rem;
}

/**/

.custom-font-gray
{
    color:#757575;
}


.custom-arrow-background {
    fill: white;
    stroke-width: 1px;
    stroke: #fed9d9;
}

.custom-arrow {
    fill: none;
    stroke: #fed9d9;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 3px;
}

.custom-arrow-container:hover {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1); /* �׸��� ȿ�� */
    cursor:pointer;
}

.custom-arrow-container:hover .custom-arrow-background {
    fill: #fed9d9;
    stroke-width: 0px;

}


.custom-arrow-container:hover .custom-arrow {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 3px;
}


.carousel {
    position: relative;
}
.carousel ul {overflow: auto; display: flex; flex-wrap: nowrap; scroll-snap-type: x mandatory; scroll-snap-points-y: repeat(100%); scroll-behavior: smooth; background: gray; -ms-overflow-style: none; scrollbar-width: none; margin: 0; padding: 0;}
.carousel ul::-webkit-scrollbar {display: none; /* Hide scrollbar for Chrome, Safari and Opera */} 
.carousel ul li {position: relative; min-width: 100%; list-style: none; background: url() center center / cover no-repeat; scroll-snap-align: start; margin:0; }
.carousel ul li > * {position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
.carousel ul li > img {object-fit: cover;}
.carousel ul li > div {display: flex; justify-content: center; align-items: center;}
.carousel ol {position: absolute; bottom: 15px; display: flex; justify-content: center; left: 50%; transform: translateX(-50%); z-index: 9;}
.carousel ol li {list-style: none; padding: 0 5px;}
.carousel ol li a {display: block; height: 10px; width: 10px; border: 2px solid white; background: transparent; border-radius: 100%;}
.carousel ol li.selected a {background: white;}

.carousel .pageNum {
    color: #6F6F6F;
} 