{{ .context.Scratch.Set "height" .height }}
{{ .context.Scratch.Set "unit" .unit }}
{{ .context.Scratch.Set "items" .items }}
<div id="carousel10" class="carousel" duration="{{ .duration }}" items="{{ .items }}">
    <ul>
        {{ range $index, $slide := .context.Site.Data.carousel.broadcastHome }}
        <li class="" id="c10_slide{{ add $index 1}}" style="min-width: calc(100%/{{ $.context.Scratch.Get "items" }}); padding-bottom: {{ $.context.Scratch.Get "height" }}{{ $.context.Scratch.Get "unit" }};">
            <img src="{{ relURL $slide.image }}" alt="" />
            <div class="hx-relative hx-block hx-mx-2">
                {{ if $slide.title }}
                <h3 class="hx-font-medium hx-text-md hx-mt-4">{{ $slide.title }}</h1>
                {{ end }}
                {{ if $slide.description }}
                <p class="hx-text-sm hx-mt-2 hx-text-neutral-400">{{ $slide.description }}</p>
                {{ end }}
                {{ if $slide.button }}
                <div class="hx-mt-16 hx-text-xl custom-round-whitepink-button hx-inline-block hx-px-6 hx-py-2 hx-font-bold">
                    <p class="hx-inline-block">{{ $slide.button }}</p>
                    <svg class="hx-inline-block custom-mb-1" id="a" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.3 40.6" width="15" height="15">
                        <defs>
                            <style>.b{fill:#FF7C7C;}</style>
                        </defs><polygon class="b" points="0 0 20.3 20.3 0 40.6 0 0"/>
                    </svg>
                </div>
                {{ end }}
            </div>
        </li>
        {{ end }}
    </ul>
    <ol>
        {{ range $index, $page := .context.Site.Data.carousel.images }}
        <li><a href="#c10_slide{{ add $index 1 }}"></a></li>
        {{ end }}
    </ol>
    <div class="">
        <div class="hx-mx-2">
            <div class="prev hx-inline-block hx-align-middle">
                <svg class="custom-arrow-container" id="arrow_left" width="32" height="32" data-name="arrow_left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46 46">
                    <rect class="custom-arrow-background" width="46" height="46" />
                    <polyline class="custom-arrow" points="28.51 35.48 16.03 23 28.51 10.52" />
                </svg>
            </div>
            <div class="custom-w-70 hx-text-center hx-inline-block hx-h-8 hx-align-middle pageNum hx-font-bold hx-select-none">
                <p class="carousel-pageNum hx-inline-block hx-h-8 hx-align-middle hx-mx-2">1</p>
                <p class="hx-inline-block hx-h-8 hx-align-middle">/</p>
                <p class="hx-inline-block hx-h-8 hx-align-middle hx-mx-2">{{ .context.Site.Data.carousel.images | len }}</p>
            </div>
            <div class="next hx-inline-block hx-align-middle">
                <svg class="custom-arrow-container" id="arrow_right" width="32" height="32" data-name="arrow_right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46 46">
                    <rect class="custom-arrow-background" width="46" height="46" />
                    <polyline class="custom-arrow" points="17.49 10.52 29.97 23 17.49 35.48" />
                </svg>
            </div>
        </div>
    </div>
</div>