{{- $logoPath := .Site.Params.navbar.logo.path | default "images/logo.png" -}}
{{- $logoLink := .Site.Params.navbar.logo.link | default .Site.Home.RelPermalink -}}
{{- $logoWidth := .Site.Params.navbar.logo.width | default "20" -}}
{{- $logoHeight := .Site.Params.navbar.logo.height | default "20" -}}
{{- $logoDarkPath := .Site.Params.navbar.logo.dark | default $logoPath -}}
{{- $dropdownIcon := default "images/dropdown.svg" -}}
{{- $searchIconPath := .Site.Params.navbar.search.path | default "images/searchicon.png" -}}

{{- $navWidth := "hx-max-w-[90rem]" -}}
{{- with .Site.Params.navbar.width -}}
{{ if eq . "normal" -}}
{{ $navWidth = "hx-max-w-screen-xl" -}}
{{ else if eq . "full" -}}
{{ $navWidth = "max-w-full" -}}
{{ end -}}
{{- end -}}

<div class="nav-container hx-sticky hx-top-0 hx-z-20 hx-w-full print:hx-hidden">
    <nav class="hx-h-[102px] hx-bg-white custom-border-bottom-pink">
        <div class="hx-block hx-text-xs hx-text-neutral-400 hx-mx-auto hx-items-center hx-text-right hx-h-[37px] {{ $navWidth }}">
            <ul class="hx-inline-block hx-mr-16">
                <li class="hx-inline-block">
                    <p>부흥 총회</p>
                </li>
                <li class="hx-inline-block hx-mx-4">
                    <p>|</p>
                </li>
                <li class="hx-inline-block">
                    <p>천국의 도서관</p>
                </li>
                <li class="hx-inline-block hx-mx-4">
                    <p>|</p>
                </li>
                <li class="hx-inline-block">
                    성령 신학교
                </li>
                <li class="hx-inline-block hx-mx-4">
                    <p>|</p>
                </li>
                <li class="hx-inline-block">
                    제주 휴양관
                </li>
            </ul>
            <div class="hx-align-middle hx-cursor-pointer hx-relative hx-inline-block">
                <img width="18" class="hx-inline-block" src="{{ $searchIconPath | relURL }}">
            </div>
            <div class="hx-align-middle hx-cursor-pointer hx-relative hx-inline-block hx-h-full">
                <select name="language" id=""
                        class="hx-p-2 hx-flex hx-h-full hx-items-center hx-text-xs hx-mx-2 hx-bg-none">
                    <option value="korean">한국어</option>
                    <option value="english">English</option>
                </select>
            </div>
        </div>
        <div class="custom-grayline hx-w-full"></div>
        <div class="hx-block hx-flex hx-justify-end hx-mx-auto hx-items-center hx-h-[65px] {{ $navWidth }}">
            <a class="hx-flex hx-items-center hover:hx-opacity-75 ltr:hx-mr-auto rtl:hx-ml-auto" href="{{ $logoLink }}">
                {{- if (.Site.Params.navbar.displayLogo | default true) }}
                <img class="hx-block dark:hx-hidden" src="{{ $logoPath | relURL }}" alt="{{ .Site.Title }}" height="{{ $logoHeight }}" width="{{ $logoWidth }}" />
                <img class="hx-hidden dark:hx-block" src="{{ $logoDarkPath | relURL }}" alt="{{ .Site.Title }}" height="{{ $logoHeight }}" width="{{ $logoWidth }}" />
                {{- end }}
                {{- if (.Site.Params.navbar.displayTitle | default true) }}
                <span class="hx-mx-2 hx-font-extrabold hx-inline hx-select-none" title="{{ .Site.Title }}">{{- .Site.Title -}}</span>
                {{- end }}
            </a>

            <ul id="nav-menu" class="hx-h-full max-md:hx-hidden">
                {{- $currentPage := . -}}
                {{ range .Site.Menus.main }}
                {{- if eq .Params.type "search" -}}
                {{- partial "search.html" (dict "params" .Params) -}}
                {{- else -}}
                {{- $link := .URL -}}
                {{- $external := strings.HasPrefix $link "http" -}}
                {{- with .PageRef -}}
                {{- if hasPrefix . "/" -}}
                {{- $link = relLangURL (strings.TrimPrefix "/" .) -}}
                {{- end -}}
                {{- end -}}

                {{/* Display icon menu item */}}
                {{- $active := or ($currentPage.HasMenuCurrent "main" .) ($currentPage.IsMenuCurrent "main" .) -}}
                {{- $activeClass := cond $active "hx-font-medium" "hx-text-red-400 hover:hx-text-red-400 dark:hx-text-gray-400 dark:hover:hx-text-gray-200" -}}

                {{ if .HasChildren }}
                <li title="{{ or (T .Identifier) .Name | safeHTML }}"
                    href="{{ $link }}"
                    {{ if $external }} target="_blank" rel="noreferer" {{ end }}
                    class="hx-align-middle hx-cursor-pointer hx-relative hx-inline-block hx-h-full custom-text-pink-hover align-middle hover:hx-bg-gray-800/5">
                    <a class="hx-px-8 hx-flex hx-h-full hx-items-center" href="{{ $link }}">
                        <p class="hx-text-sm hx-p-1 hx-text-center hx-font-bold">{{ or (T .Identifier) .Name | safeHTML }}</p>
                    </a>

                    <ul class="hx-bg-white hx-py-2 hx-w-full hx-text-center nav-dropdown hx-absolute hx-text-black -hx-mt-1">
                        {{ range .Children }}
                        <li class="hx-p-2 hx-py-3">
                            <a class="hx-text-sm nav-dropdown-link"
                               {{ if findRE `^http` .URL }}
                               target="_blank" rel="noopener"
                               {{ end }}
                               href="{{- if findRE `^#` .URL -}}
                                {{- if not $.IsHome -}}
                                {{- site.Home.RelPermalink -}}
                                {{- end }}
                                {{- .URL -}}
                                {{- else -}}
                                {{- .URL | relLangURL -}}
                                {{- end -}}">
                                {{ .Name }}
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                </li>
                {{ else }}
                <li title="{{ or (T .Identifier) .Name | safeHTML }}"
                    href="{{ $link }}"
                    {{ if $external }} target="_blank" rel="noreferer" {{ end }}
                    class="hx-cursor-pointer hx-inline-block hx-h-full hx-align-middle custom-text-pink-hover hover:hx-bg-gray-800/5">
                    <a class="hx-px-8 hx-flex hx-h-full hx-items-center">
                        <p class="hx-text-sm hx-p-1 hx-text-center hx-font-bold">{{ or (T .Identifier) .Name | safeHTML }}</p>
                    </a>
                </li>
                {{ end }}

                {{- end -}}
                {{ end }}

                <!--
            <li class="hx-align-middle hx-cursor-pointer hx-relative hx-inline-block hx-h-full">
                <div class="hx-p-4 hx-flex hx-h-full hx-items-center">
                    <button class="hx-text-sm hx-border hx-rounded hx-px-4 hx-py-2">
                        새신자등록
                    </button>
                </div>
            </li>
            -->
            </ul>
        </div>


        <!-- 모바일 메뉴 -->
        <button type="button" aria-label="Menu" class="hamburger-menu -hx-mr-2 hx-rounded hx-p-2 active:hx-bg-gray-400/20 md:hx-hidden">
            {{- partial "utils/icon.html" (dict "name" "hamburger-menu" "attributes" "height=24") -}}
        </button>
    </nav>
</div>
