{{ define "main" }}
    <div class='hx-mx-auto hx-max-w-[90rem]'>
        <section class="hx-block hx-w-full hx-text-center hx-mx-2">
            <div class="hx-mt-20 hx-mb-16">
                <h1 class="hx-text-4xl hx-font-bold hx-mb-2">인터넷 방송국 홈</h1>
                <p class="custom-font-gray hx-mb-8">"진리를 알지니 진리가 너희를 자유케 할지라" [요 8:32]</p>
                <div class="custom-pink-button hx-inline-block hx-py-2 hx-px-6">전체 설교 영상 보기</div>
            </div>
        </section>
        <section class="hx-block hx-w-full hx-mx-2">
            <div class="hx-relative max-md:hx-overflow-hidden max-md:hx-h-52">
                <img class="hx-w-full hx-rounded-none hx-m-0 max-md:hx-object-cover max-md:hx-h-full" src="{{ "images/broadcast/broadcast_banner.png" | relURL }}" alt="">
                <div class="hx-absolute hx-top-1/2 hx--translate-y-2/4 hx-w-full hx-ml-16 max-md:hx-relative max-md:hx-hidden">
                    <h2 class="hx-text-3xl hx-font-semibold">매주 새롭게 풀어지는 놀라운 진리!</h2>
                    <p class="custom-font-gray">사랑하는교회 담임 목사 변승우 목사님의 주일 설교 영상입니다.</p>
                </div>
                <div class="hx-ml-16 hx-absolute hx-bottom-0 hx-w-full hx-mb-16 max-md:hx-hidden">
                    <p class="hx-font-semibold">최신 설교 영상 보기</p>
                </div>
            </div>
            <div class="md:hx-hidden hx-mx-2 hx-mt-2">
                <div class="hx-flex hx-justify-between">
                    <h2 class="hx-text-xl hx-font-semibold">매주 새롭게 풀어지는 놀라운 진리!</h2>
                    <p class="hx-mr-2 hx-text-sm">더보기 > </p>
                </div>
                
                <p class="custom-font-gray">사랑하는교회 담임 목사 변승우 목사님의 주일 설교 영상입니다.</p>
            </div>
            <div class="max-md:hx-hidden">
                <div class="hx-mt-8 hx-flex hx-justify-between">
                    <div>
                        <svg class="hx-inline-block hx-align-middle hx-mr-2 hx-mb-2" id="a" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.73 43.1" width="16" height="20">
                            <polygon class="custom-arrow-right hx-align-middle" points="0 0 34.73 21.55 0 43.1 0 0"/>
                        </svg>
                        <p class="hx-inline-block hx-font-medium hx-text-lg">최신 주일 설교</p>
                    </div>
                    <div class="custom-gray-button hx-py-2 hx-px-6 hx-font-bold">더보기</div>
                </div>
                <ul class="hx-mt-4 custom-grid-cols-5 hx-grid">
                    <li class="hx-text-center">
                        <div class="hx-inline-block hx-text-left hx-mx-1">
                            <img src="{{ "images/broadcast/thumnail.png" | relURL }}" alt="">
                            <h3 class="hx-font-medium hx-text-md hx-mt-4">목표를 바르게! 그리고 높게!</h3>
                            <p class="hx-text-sm hx-mt-2 hx-text-neutral-400">2024. 04. 13</p>
                        </div>
                    </li>
                    <li class="hx-text-center">
                        <div class="hx-inline-block hx-text-left hx-mx-1">
                            <img src="{{ "images/broadcast/thumnail.png" | relURL }}" alt="">
                            <h3 class="hx-font-medium hx-text-md hx-mt-4">목표를 바르게! 그리고 높게!</h3>
                            <p class="hx-text-sm hx-mt-2 hx-text-neutral-400">2024. 04. 13</p>
                        </div>
                    </li>
                    <li class="hx-text-center">
                        <div class="hx-inline-block hx-text-left hx-mx-1">
                            <img src="{{ "images/broadcast/thumnail.png" | relURL }}" alt="">
                            <h3 class="hx-font-medium hx-text-md hx-mt-4">목표를 바르게! 그리고 높게!</h3>
                            <p class="hx-text-sm hx-mt-2 hx-text-neutral-400">2024. 04. 13</p>
                        </div>
                    </li>
                    <li class="hx-text-center">
                        <div class="hx-inline-block hx-text-left hx-mx-1">
                            <img src="{{ "images/broadcast/thumnail.png" | relURL }}" alt="">
                            <h3 class="hx-font-medium hx-text-md hx-mt-4">목표를 바르게! 그리고 높게!</h3>
                            <p class="hx-text-sm hx-mt-2 hx-text-neutral-400">2024. 04. 13</p>
                        </div>
                    </li>
                    <li class="hx-text-center">
                        <div class="hx-inline-block hx-text-left hx-mx-1">
                            <img src="{{ "images/broadcast/thumnail.png" | relURL }}" alt="">
                            <h3 class="hx-font-medium hx-text-md hx-mt-4">목표를 바르게! 그리고 높게!</h3>
                            <p class="hx-text-sm hx-mt-2 hx-text-neutral-400">2024. 04. 13</p>
                        </div>
                    </li>
                </ul>
            </div>  
            <div class="md:hx-hidden hx-mt-12">
                {{ partial "broadcasthomeCarousel.html" (dict "context" . "items" "1" "height" "50" "unit" "%" "duration" "7000") }}
            </div> 
        </section>
        <div class="custom-grayline hx-my-12 max-md:hx-hidden"></div>
        <section class="hx-mb-8 hx-mt-8 hx-mx-2">
            <div class="hx-mt-8 hx-flex hx-justify-between max-md:hx-hidden">
                <div>
                    <svg class="hx-inline-block hx-align-middle hx-mr-2 hx-mb-2" id="a" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.73 43.1" width="16" height="20">
                        <polygon class="custom-arrow-right hx-align-middle" points="0 0 34.73 21.55 0 43.1 0 0"/>
                    </svg>
                    <p class="hx-inline-block hx-font-medium hx-text-lg">추천 시리즈 설교</p>
                </div>
                <div class="custom-gray-button hx-py-2 hx-px-6 hx-font-bold">더보기</div>
            </div>
            <div class="hx-mb-8 max-md:hx-hidden">
                <h2 class="hx-text-3xl hx-font-semibold">성령님이 우리를 진리로 인도하는 세 가지 방법!</h2>
                <p class="custom-font-gray">우리를 진리 가운데로 인도하시는 성령님! 우리를 거룩으로 인도하시는 성령님! 우리를 성공과 번영으로 인도하시는 성령님!</p>
            </div>
            <div class="hx-grid-cols-2 hx-grid max-md:hx-block">
                <div class="hx-my-1.5">
                    <img src="{{ "images/broadcast/book.png" | relURL }}" alt="">
                </div>
                <div class="hx-mb-8 md:hx-hidden hx-mx-2">
                    <h2 class="hx-text-xl hx-font-semibold hx-mt-5 hx-mb-2">성령님이 우리를 진리로 인도하는 세 가지 방법!</h2>
                    <p class="custom-font-gray">우리를 진리 가운데로 인도하시는 성령님! 우리를 거룩으로 인도하시는 성령님! 우리를 성공과 번영으로 인도하시는 성령님!</p>
                </div>
                <div>
                    <ul class="hx-grid hx-grid-rows-5 hx-h-full hx-ml-2 max-md:hx-mx-0">
                        <li class="custom-li-style hx-px-4 hx-py-4 hx-mt-1 hx-mb-2 hx-relative">
                            <div class="hx-absolute md:hx-top-1/2 md:hx--translate-y-2/4 hx-inline-block max-md:hx-relative">
                                <p class="hx-font-semibold">성령님이 우리를 진리로 인도하는 세 가지 방법!</p>
                                <div class="hx-mb-2">
                                    <p class="hx-inline-block hx-text-sm">변승우 목사님</p>
                                    <p class="hx-inline-block hx-text-sm hx-text-neutral-400">2024.04.07</p>
                                </div>
                                <div>
                                    <p class="hx-inline-block custom-gray-tag hx-px-2 hx-mr-1 max-md:hx-overflow-hidden max-md:hx-w-28 max-md:hx-h-6">#태그 넣는 것</p>
                                    <p class="hx-inline-block custom-gray-tag hx-px-2 hx-mr-1 max-md:hx-overflow-hidden max-md:hx-w-28 max-md:hx-h-6">#태그 넣는 것</p>
                                    <p class="hx-inline-block custom-gray-tag hx-px-2 hx-mr-1 max-md:hx-overflow-hidden max-md:hx-w-28 max-md:hx-h-6">#태그 짱길게 넣고 싶을 때 이렇게 쓰는 것</p>
                                </div>
                            </div>
                        </li>
                        <li class="custom-li-style hx-px-4 hx-py-4 hx-mt-1 hx-mb-2 hx-relative">
                            <div class="hx-absolute md:hx-top-1/2 md:hx--translate-y-2/4 hx-inline-block max-md:hx-relative">
                                <p class="hx-font-semibold">성령님이 우리를 진리로 인도하는 세 가지 방법!</p>
                                <div class="hx-mb-2">
                                    <p class="hx-inline-block hx-text-sm">변승우 목사님</p>
                                    <p class="hx-inline-block hx-text-sm hx-text-neutral-400">2024.04.07</p>
                                </div>
                                <div>
                                    <p class="hx-inline-block custom-gray-tag hx-px-2 hx-mr-1 max-md:hx-overflow-hidden max-md:hx-w-28 max-md:hx-h-6">#태그 넣는 것</p>
                                    <p class="hx-inline-block custom-gray-tag hx-px-2 hx-mr-1 max-md:hx-overflow-hidden max-md:hx-w-28 max-md:hx-h-6">#태그 넣는 것</p>
                                    <p class="hx-inline-block custom-gray-tag hx-px-2 hx-mr-1 max-md:hx-overflow-hidden max-md:hx-w-28 max-md:hx-h-6">#태그 짱길게 넣고 싶을 때 이렇게 쓰는 것</p>
                                </div>
                            </div>
                        </li>
                        <li class="custom-li-style hx-px-4 hx-py-4 hx-mt-1 hx-mb-2 hx-relative">
                            <div class="hx-absolute md:hx-top-1/2 md:hx--translate-y-2/4 hx-inline-block max-md:hx-relative">
                                <p class="hx-font-semibold">성령님이 우리를 진리로 인도하는 세 가지 방법!</p>
                                <div class="hx-mb-2">
                                    <p class="hx-inline-block hx-text-sm">변승우 목사님</p>
                                    <p class="hx-inline-block hx-text-sm hx-text-neutral-400">2024.04.07</p>
                                </div>
                                <div>
                                    <p class="hx-inline-block custom-gray-tag hx-px-2 hx-mr-1 max-md:hx-overflow-hidden max-md:hx-w-28 max-md:hx-h-6">#태그 넣는 것</p>
                                    <p class="hx-inline-block custom-gray-tag hx-px-2 hx-mr-1 max-md:hx-overflow-hidden max-md:hx-w-28 max-md:hx-h-6">#태그 넣는 것</p>
                                    <p class="hx-inline-block custom-gray-tag hx-px-2 hx-mr-1 max-md:hx-overflow-hidden max-md:hx-w-28 max-md:hx-h-6">#태그 짱길게 넣고 싶을 때 이렇게 쓰는 것</p>
                                </div>
                            </div>
                        </li>
                        <li class="custom-li-style hx-px-4 hx-py-4 hx-mt-1 hx-mb-2 hx-relative">
                            <div class="hx-absolute md:hx-top-1/2 md:hx--translate-y-2/4 hx-inline-block max-md:hx-relative">
                                <p class="hx-font-semibold">성령님이 우리를 진리로 인도하는 세 가지 방법!</p>
                                <div class="hx-mb-2">
                                    <p class="hx-inline-block hx-text-sm">변승우 목사님</p>
                                    <p class="hx-inline-block hx-text-sm hx-text-neutral-400">2024.04.07</p>
                                </div>
                                <div>
                                    <p class="hx-inline-block custom-gray-tag hx-px-2 hx-mr-1 max-md:hx-overflow-hidden max-md:hx-w-28 max-md:hx-h-6">#태그 넣는 것</p>
                                    <p class="hx-inline-block custom-gray-tag hx-px-2 hx-mr-1 max-md:hx-overflow-hidden max-md:hx-w-28 max-md:hx-h-6">#태그 넣는 것</p>
                                    <p class="hx-inline-block custom-gray-tag hx-px-2 hx-mr-1 max-md:hx-overflow-hidden max-md:hx-w-28 max-md:hx-h-6">#태그 짱길게 넣고 싶을 때 이렇게 쓰는 것</p>
                                </div>
                            </div>
                        </li>
                        <li class="custom-li-style hx-px-4 hx-py-4 hx-mt-1 hx-mb-2 hx-relative">
                            <div class="hx-absolute md:hx-top-1/2 md:hx--translate-y-2/4 hx-inline-block max-md:hx-relative">
                                <p class="hx-font-semibold">성령님이 우리를 진리로 인도하는 세 가지 방법!</p>
                                <div class="hx-mb-2">
                                    <p class="hx-inline-block hx-text-sm">변승우 목사님</p>
                                    <p class="hx-inline-block hx-text-sm hx-text-neutral-400">2024.04.07</p>
                                </div>
                                <div>
                                    <p class="hx-inline-block custom-gray-tag hx-px-2 hx-mr-1 max-md:hx-overflow-hidden max-md:hx-w-28 max-md:hx-h-6">#태그 넣는 것</p>
                                    <p class="hx-inline-block custom-gray-tag hx-px-2 hx-mr-1 max-md:hx-overflow-hidden max-md:hx-w-28 max-md:hx-h-6">#태그 넣는 것</p>
                                    <p class="hx-inline-block custom-gray-tag hx-px-2 hx-mr-1 max-md:hx-overflow-hidden max-md:hx-w-28 max-md:hx-h-6">#태그 짱길게 넣고 싶을 때 이렇게 쓰는 것</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <div class="custom-grayline hx-my-12"></div>
        <section class="hx-mb-16 hx-mx-2">
            <div class="hx-mt-8 hx-flex hx-justify-between max-md:hx-hidden">
                <div>
                    <svg class="hx-inline-block hx-align-middle hx-mr-2 hx-mb-2" id="a" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.73 43.1" width="16" height="20">
                        <polygon class="custom-arrow-right hx-align-middle" points="0 0 34.73 21.55 0 43.1 0 0"/>
                    </svg>
                    <p class="hx-inline-block hx-font-medium hx-text-lg">다문화 TV 방송 설교</p>
                </div>
                <div class="custom-gray-button hx-py-2 hx-px-6 hx-font-bold">더보기</div>
            </div>
            <div class="hx-float-right hx-mb-4 md:hx-hidden">
                <img src="{{ "images/broadcast/africa.png" | relURL }}" alt="">
            </div>
            <div class="hx-mb-8 max-md:hx-hidden">
                <h2 class="hx-text-3xl hx-font-semibold">아프리카를 주 예수께, 열방을 주 예수께!</h2>
                <p class="custom-font-gray">우리를 진리 가운데로 인도하시는 성령님! 우리를 거룩으로 인도하시는 성령님! 우리를 성공과 번영으로 인도하시는 성령님!</p>
            </div>
            <div class="hx-mb-8 md:hx-hidden hx-mx-2">
                <h2 class="hx-text-xl hx-font-semibold hx-mt-5 hx-mb-2">아프리카를 주 예수께, 열방을 주 예수께!</h2>
                <p class="custom-font-gray">우리를 진리 가운데로 인도하시는 성령님! 우리를 거룩으로 인도하시는 성령님! 우리를 성공과 번영으로 인도하시는 성령님!</p>
            </div>
            <div class="hx-grid-cols-2 hx-grid max-md:hx-block">
                <div>
                    <ul class="hx-grid hx-grid-rows-4 hx-h-full hx-mr-2 max-md:hx-mx-0">
                        <li class="custom-li-style hx-px-4 hx-py-4 hx-mt-1 hx-mb-2 hx-relative">
                            <div class="hx-absolute md:hx-top-1/2 md:hx--translate-y-2/4 hx-inline-block max-md:hx-relative">
                                <p class="hx-font-semibold">성령님이 우리를 진리로 인도하는 세 가지 방법!</p>
                                <div class="hx-mb-2">
                                    <p class="hx-inline-block hx-text-sm">변승우 목사님</p>
                                    <p class="hx-inline-block hx-text-sm hx-text-neutral-400">2024.04.07</p>
                                </div>
                                <div>
                                    <p class="hx-inline-block custom-gray-tag hx-px-2 hx-mr-1 max-md:hx-overflow-hidden max-md:hx-w-28 max-md:hx-h-6">#태그 넣는 것</p>
                                    <p class="hx-inline-block custom-gray-tag hx-px-2 hx-mr-1 max-md:hx-overflow-hidden max-md:hx-w-28 max-md:hx-h-6">#태그 넣는 것</p>
                                    <p class="hx-inline-block custom-gray-tag hx-px-2 hx-mr-1 max-md:hx-overflow-hidden max-md:hx-w-28 max-md:hx-h-6">#태그 짱길게 넣고 싶을 때 이렇게 쓰는 것</p>
                                </div>
                            </div>
                        </li>
                        <li class="custom-li-style hx-px-4 hx-py-4 hx-mt-1 hx-mb-2 hx-relative">
                            <div class="hx-absolute md:hx-top-1/2 md:hx--translate-y-2/4 hx-inline-block max-md:hx-relative">
                                <p class="hx-font-semibold">성령님이 우리를 진리로 인도하는 세 가지 방법!</p>
                                <div class="hx-mb-2">
                                    <p class="hx-inline-block hx-text-sm">변승우 목사님</p>
                                    <p class="hx-inline-block hx-text-sm hx-text-neutral-400">2024.04.07</p>
                                </div>
                                <div>
                                    <p class="hx-inline-block custom-gray-tag hx-px-2 hx-mr-1 max-md:hx-overflow-hidden max-md:hx-w-28 max-md:hx-h-6">#태그 넣는 것</p>
                                    <p class="hx-inline-block custom-gray-tag hx-px-2 hx-mr-1 max-md:hx-overflow-hidden max-md:hx-w-28 max-md:hx-h-6">#태그 넣는 것</p>
                                    <p class="hx-inline-block custom-gray-tag hx-px-2 hx-mr-1 max-md:hx-overflow-hidden max-md:hx-w-28 max-md:hx-h-6">#태그 짱길게 넣고 싶을 때 이렇게 쓰는 것</p>
                                </div>
                            </div>
                        </li>
                        <li class="custom-li-style hx-px-4 hx-py-4 hx-mt-1 hx-mb-2 hx-relative">
                            <div class="hx-absolute md:hx-top-1/2 md:hx--translate-y-2/4 hx-inline-block max-md:hx-relative">
                                <p class="hx-font-semibold">성령님이 우리를 진리로 인도하는 세 가지 방법!</p>
                                <div class="hx-mb-2">
                                    <p class="hx-inline-block hx-text-sm">변승우 목사님</p>
                                    <p class="hx-inline-block hx-text-sm hx-text-neutral-400">2024.04.07</p>
                                </div>
                                <div>
                                    <p class="hx-inline-block custom-gray-tag hx-px-2 hx-mr-1 max-md:hx-overflow-hidden max-md:hx-w-28 max-md:hx-h-6">#태그 넣는 것</p>
                                    <p class="hx-inline-block custom-gray-tag hx-px-2 hx-mr-1 max-md:hx-overflow-hidden max-md:hx-w-28 max-md:hx-h-6">#태그 넣는 것</p>
                                    <p class="hx-inline-block custom-gray-tag hx-px-2 hx-mr-1 max-md:hx-overflow-hidden max-md:hx-w-28 max-md:hx-h-6">#태그 짱길게 넣고 싶을 때 이렇게 쓰는 것</p>
                                </div>
                            </div>
                        </li>
                        <li class="custom-li-style hx-px-4 hx-py-4 hx-mt-1 hx-mb-2 hx-relative">
                            <div class="hx-absolute md:hx-top-1/2 md:hx--translate-y-2/4 hx-inline-block max-md:hx-relative">
                                <p class="hx-font-semibold">성령님이 우리를 진리로 인도하는 세 가지 방법!</p>
                                <div class="hx-mb-2">
                                    <p class="hx-inline-block hx-text-sm">변승우 목사님</p>
                                    <p class="hx-inline-block hx-text-sm hx-text-neutral-400">2024.04.07</p>
                                </div>
                                <div>
                                    <p class="hx-inline-block custom-gray-tag hx-px-2 hx-mr-1 max-md:hx-overflow-hidden max-md:hx-w-28 max-md:hx-h-6">#태그 넣는 것</p>
                                    <p class="hx-inline-block custom-gray-tag hx-px-2 hx-mr-1 max-md:hx-overflow-hidden max-md:hx-w-28 max-md:hx-h-6">#태그 넣는 것</p>
                                    <p class="hx-inline-block custom-gray-tag hx-px-2 hx-mr-1 max-md:hx-overflow-hidden max-md:hx-w-28 max-md:hx-h-6">#태그 짱길게 넣고 싶을 때 이렇게 쓰는 것</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="hx-float-right hx-mb-4 max-md:hx-hidden">
                    <img src="{{ "images/broadcast/africa.png" | relURL }}" alt="">
                </div>
            </div>
        </section>
    </div>
{{- end -}}
