{{ define "main" }}
{{ $url := .Page.Params.videoUrl }}
{{ $date := .Page.Params.Date }}
{{ $date = time.AsTime $date }}
{{ $date = $date.Format "2006-01-2" }}
<div class='hx-mx-auto {{ partial "utils/page-width" . }}'>
    <div class="hx-w-full hx-my-10">
        <p class="hx-text-sm hx-text-neutral-400">홈 > 인터넷방송국 홈 > 전체 영상 목록</p>
        <div class="custom-grayline-d5 hx-my-2"></div>
    </div>
    <section class="hx-grid custom-grid-2-70">
        <div>
            <div class="video-container">
                <iframe src="{{ $url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                </iframe>
            </div>
            <div class="content">
                {{ .Content }}
            </div>

            <div class="hx-flex hx-justify-between hx-my-6">
                <div class="hx-inline-block">
                    <div>
                        <h2 class="hx-font-bold hx-text-2xl">{{ .Page.Params.Title }}</h2>
                    </div>
                    <div class="hx-mt-2">
                        <p class="hx-inline-block hx-mr-4 hx-text-sm hx-font-bold">{{ .Page.Params.Preacher }}</p>
                        <p class="hx-inline-block hx-text-sm hx-text-neutral-400">{{ $date }}</p>
                        <p class="hx-inline-block hx-text-sm hx-text-neutral-400"> | 조회수: </p>
                        <p class="hx-inline-block hx-text-sm hx-text-neutral-400">{{ .Page.Params.View }}</p>
                        <p class="hx-inline-block hx-text-sm hx-text-neutral-400">| 재생시간: </p>
                        <p class="hx-inline-block hx-text-sm hx-text-neutral-400">{{ .Page.Params.VideoLength }}</p>
                        <div class="hx-text-sm hx-mt-2">
                            <p class="hx-inline-block custom-gray-tag hx-px-2 hx-mr-1 max-md:hx-overflow-hidden max-md:hx-w-28 max-md:hx-h-6">#태그 넣는 것</p>
                            <p class="hx-inline-block custom-gray-tag hx-px-2 hx-mr-1 max-md:hx-overflow-hidden max-md:hx-w-28 max-md:hx-h-6">#태그 넣는 것</p>
                            <p class="hx-inline-block custom-gray-tag hx-px-2 hx-mr-1 max-md:hx-overflow-hidden max-md:hx-w-28 max-md:hx-h-6">#태그 짱길게 넣고 싶을 때 이렇게 쓰는 것</p>
                        </div>
                    </div>
                </div>
                <div class="custom-round-whitepink-button hx-inline-block hx-py-2 hx-px-8">
                    <img class="hx-inline-block hx-mr-2 hx-align-middle" src="{{ "images/download.png" | relURL }}" alt="Alternate Text" />
                    <p class="hx-inline-block hx-align-middle">MP3 다운로드</p>
                </div>
            </div>
            <div class="custom-grayline-d5 hx-my-2"></div>
        </div>
        
    </section>
</div>
{{ end }}
